.sbdocs.sbdocs-preview {
  background: var(--color-neutral-0) !important;
  transition: 200ms background-color ease-in-out;
}
body.dark .sbdocs.sbdocs-preview {
  background: var(--color-neutral-9) !important;
}

.sbdocs-h2 {
  margin-top: 3rem !important;
}
.sbdocs-h3 {
  margin-top: 2.5rem !important;
}

.sbdocs-li, .sbdocs-p {
  font-size: 0.95rem !important;
  line-height: 1.8 !important;
}

.docblock-source {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.sbdocs-table {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.sbdocs-table thead {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.sbdocs-table tr:nth-of-type(2) {
  background-color: transparent !important;
}
